[submodule "openfisca_core"]
	path = openfisca-core
	url = https://github.com/energy-savings-scheme/openfisca-core.git
[submodule "openfisca_nsw_safeguard"]
	path = openfisca_nsw_safeguard
	url = https://github.com/energy-savings-scheme/openfisca_nsw_safeguard.git
